/*
h1 {
    color: darkgrey;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
*/

.topper{
position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    text-shadow: 5px 5px #000;
    max-height: 100%;
    width:100%;

}
body{
margin: 0;

    
}

/*
.eerste{
    overflow: hidden;
}
*/

.banner{
    background-color: black;
    
}

.imagebanner{
max-height: 100%;
width:100%;

}

p.begin {
/*    padding: 3em;*/
    font: 300 100px/0.5 'Just Another Hand', Helvetica, sans-serif;
      color: #969595;
      text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
        font-size: 4em;
        text-align: center;
}
 


p{ 
color: black;
display: flex;
justify-content:center;
font-family: impact, charco;
margin: 1em;
}


nav{ 
background: black;


/*
width: 100%;
position: absolute;
top: 0%;
*/
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav a{
    text-decoration: none;
    text-align: center;
    color: darkgrey;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-family: sans-serif;

    
}


nav a:hover{
/*    background-color: #555;*/
    transform: scale(1.2);
    transition: 0.5s;
    
    
}

nav ul:hover li a{
    filter:blur(5px);
}

nav ul li a:hover{
    filter:blur(0px);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: impact;
    color: white;
    text-shadow: 1px 1px #000;
    margin: 0.3em;
    
  
}

.tweede{
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px #000;
}


.main{
    width: 100%;
/*    height: 25em;*/
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: 0.3s;
}

.main:hover{
    transform:scale(1.02);
}

.jappie-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}
.jappie{
    width: 400px;
    height: 280px;
    display: flex;
    margin-right: 2em;
    margin-bottom: 1em;

}

 .design{
    width: 100%;
/*    height: 25em;*/
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
    transition: 0.3s; 
    
}

.design:hover{
    transform:scale(1.02);
}

.designanimation{
        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
        transform: translateX(0);
}

.mediaanimation{
        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
        transform: translateX(0);
}

.fashionanimation{
    animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
    transform: translateY(0);
}

.musicanimation{
    animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
    transform: translateY(0);
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.jimbo{
     width: 400px;
    height: 250px;
    margin-left: 2em;
    margin-bottom: 1em;
    
}


.swipe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0;
    
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0;
}

.column img {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  transition: 2s;
}

.column img:hover{
    transform: rotateY(360deg);
}

fieldset{
    width: 24em;
    height: 24em;
    display: flex;
    justify-content: center;
}

form{
    background-color: darkgrey;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

label{
    width: 4em;
    display: flex;
    justify-content: flex-start;
}

input{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

textarea{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    
}


#interest{
    background-color: darkgrey;
    margin:0;
}

h1 
/*

#id{
    margin: 2em;
}
*/

/*
.username{
    margin: 1em;
}
*/

/*
.mailtje{
    width: 15em;
    height: 15em;
}
*/


.canvas-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center; 
}

.canvas{
    width: 100%;
    height: 100%;
    display: flex;
}

.fashion{
    display: flex;
    width: 100%;
    height:100%;
    background-color: lightslategrey;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;   
}

.trui-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center; 
    position: relative;
    height: 100%;
    width: 100%;
}

.trui{
    width: 100%;
    height: 100%;
    
}
.music:hover{
   transform:scale(1.02); 
    
}
.music{
    width: 100%;
    height:50%;
    background-color: lightslategrey;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
  
    
}

.fashion:hover{
    transform:scale(1.02);
}
/*

.maartje{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
*/
    
/*
nav ul{
    display: flex;
    justify-content: center;
}
*/
/* flex styles */


@media screen and (min-width: 600px){
    nav ul{
        display: flex;
        justify-content: space-around;
        
    }
    
}
    
/*
@media screen and (max-width: 600px){
    .topper{
        display: flex;
        justify-content: center;
        transform: scale(100%);
        
    }   
*/

    
@media (max-width: 600px) {
.eerste {
    display:none;
}
 
/*
svg.animatie{
        height:2em;
        width:2em;
    }
*/
.main {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
.jappie-container{
   display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
    .jappie{
        margin: 0;
        height: 100%;
        width: 100%;
}

    .design{
        display:flex;
        justify-content: center;
        align-items: center;
        position:relative;  
    }
    
    .music{
        display:flex;
        justify-content: center;
        align-items: center;
        position:relative; 
    
    }
    
/*
    .designanimation{
        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
        transform: translateX(0);
    }
*/
/*
    .canvas-container{
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .canvas{
        margin:0;
        height: 100%;
        width:100%   
    }
    
*/
    
    #formulier{
        background-color: aqua;
    }    
h1{
    position: absolute;
    top:50%;
    margin:0;
}
    
#interest{
    z-index: 1;  
    }    
    
.logo-container {
    display: flex;
    justify-content: start;
    align-content: center;
    margin:0;
}

    .jimbo{
    margin:0;
    height: 100%;
    width:100%
    
}
    
    .canvas-container{
      display: flex;
    justify-content: start;
    align-content: center;
    margin:0;    
        
    }
    
    
    .canvas{
     margin:0;
    height: 100%;
    width:100%    
    }
    
    .fashion{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
    
    .fashion h1{
        z-index: 1;
    }
    }
    
    .trui-container{
     display: flex;
    justify-content: start;
    align-content: center;
    margin:0;   
    }
    
    .trui{
    margin:0;
    height: 100%;
    width:100%;  
    z-index:-1;
    }

}
